.body-style {
  font-family: Arial, sans-serif;
  color: #3f3f3f;
}

.nav-list {
  display: flex;
  gap: 10px;
  margin: 20px;
}

.nav-item {
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
  color: #3f3f3f;
}

.nav-link-active {
  font-weight: bold;
}
